body{
    background-color: #303030;
    color: white;
    padding: 5vh 5vw;
    font-family: monospace;
    font-size: 1.3em;
    overflow-wrap: break-word; 
}



.card{
    background-color: black;
    padding: 1em;
    margin: 2em 0;
    border-radius: 1em;
    box-shadow: 0.3em 0.3em 0.3em rgb(52, 235, 125);
}

code{
    color: rgb(214, 8, 8);
    background-color: lightgrey;
    border-radius: 0.3em;
    padding: 0.1em;
}

pre code{
    color: white;
    background-color: black;
}

blockquote p{
    display: block;
    border-color: #2196F3 !important;
    border-left: 0.3em solid #2196F3 !important;
    padding-left: 1em;
    background-color: #303030;
}

blockquote p code{
    background-color: #303030;
    color: white;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: 1s;
}

.centered{
    text-align: center;
}


h1{
    text-align: center;
    font-size: 3em;
}

h2{
    color: rgb(52, 235, 125);
}

pre{
    background-color: black;
    padding: 1em;
    border-radius: 1em;
    white-space: pre-wrap; 
}

strong{
    color: rgb(52, 235, 125);
}

.writeup_list{
    font-size: 1.5em;
}

.writeup_list a {
    color: white;
    text-decoration: none;
}

.writeup_list a:visited {
    color: white;
}

.writeup_list a:hover {
    color: #ccc;
}
